<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <!-- <link rel="stylesheet" href="../css/style.css"/> -->
</head>
<body>
    <h1>Customer ID: <%= order.customer_id %></h1>
    <p>Order Date: <%= order.order_date %></p>
    <p>Total Amount: <%= order.total_amount %></p>
    <a href="/orders/update/<%= order.order_id %>">Edit</a>
    <a href="/orders/delete/<%= order.order_id %>">Delete</a>
    <a href="/orders/">Back to List</a>
</body>
</html>