<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <!-- <link rel="stylesheet" href="../css/style.css"/> -->
    <style>
      body {
        background-color: #f8e0ab;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
      }
  
      /* Navbar Container */
      .navbar {
        overflow: hidden;
        background-color: rgb(243, 156, 74);
        font-size: 18px;
        font-weight: bold;
      }
  
      /* Navbar Links */
      .navbar a {
        float: left;
        display: block;
        color: #0e0c0cd3;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
      }
  
      /* Navbar Links on Hover */
      .navbar a:hover {
        background-color: #ddd;
        color: rgb(243, 156, 74);
      }
  
      /* Clear floats */
      .navbar::after {
        content: "";
        clear: both;
        display: table;
      }
  
      /* Table Styling */
      table {
        width: 100%;
        border-collapse: collapse;
        border: 2px solid #333;
      }
  
      th,
      td {
        padding: 10px;
        text-align: center;
        border: 1px solid #333;
      }
  
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
  
      tr:hover {
        background-color: #ddd;
      }
  
      /* Add New Cat Link */
      .add-cat-link {
        display: block;
        text-align: center;
        margin-top: 20px;
        text-decoration: none;
        color: #0e0c0cd3;
        font-weight: bold;
      }
  
      /* Prevent th from changing color on hover */
      th:hover {
        background-color: transparent;
        color: inherit;
      }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/cats">Cats</a>
        <a href="/customers">Customers</a>
        <a href="/orders">Orders</a>
        <a href="/orderdetails">Orderdetails</a>
      </div>
    <h1>Order</h1>
    <table>
        <tr>
            <th>Customer Id</th>
            <th>Customer Name</th>
            <!-- Catid,Catname เอาไปไว้ข้างในตอนกด view แล้ว -->
            <!-- Order Date
            Quanity
            UnitPrice
            Total Amount -->
            
        </tr>
        <% for (var i = 0; i < orders.length; i++) {%>
        <tr>
            <td><%= orders[i].customer_id %></td>
            <td></td>
            <!-- <td><%= new Date(orders[i].order_date).toLocaleDateString('en-US') %></td> -->
            <!-- <td><%= orders[i].total_amount %></td> -->
            <td>
                <a href="/order/<%= orders[i].order_id %>">View</a>
                <a href="/orders/update/<%= orders[i].order_id %>">Edit</a>
                <a href="/orders/delete/<%= orders[i].order_id %>">Delete</a>
            </td>
        </tr>
        <% } %>
    </table>
    <a href="/orders/create">Create New Order</a>
</body>
</html>