<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Customer</title>
    <!-- <link rel="stylesheet" href="../css/style.css"/> -->
    <style>
        /* Set font family and size for the whole page */
        body {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            background-color: rgb(240, 178, 121);
        }

        /* Center the main heading */
        h1 {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 50px;
            font-size: 36px;
            color: #2C3E50;
        }

        /* Style the table */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 16px;
        }

        th {
            background-color: #2C3E50;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
        }

        tr:nth-child(even) {
            background-color: #f5f5f5;
        }

        /* Style the form */
        form {
            width: 50%;
            margin: auto;
            border: 2px solid #2C3E50;
            padding: 20px;
            border-radius: 5px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 10px;
        }

        input[type="text"] {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border-radius: 5px;
            border: none;
            background-color: #f2f2f2;
        }

        input[type="submit"] {
            background-color: #2C3E50;
            color: white;
            border: none;
            padding: 10px 16px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 10px;
        }

        /* Style the links */
        a {
            display: inline-block;
            margin: 10px;
            color: #2C3E50;
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            border-bottom: 2px solid transparent;
            transition: border-bottom-color 0.2s;
        }

        a:hover {
            border-bottom-color: #2C3E50;
        }

        .link-center {
            text-align: center;
            margin-top: 20px;
        }

        .link-center a {
            display: inline-block;
            margin: 10px;
            color: #2C3E50;
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            border-bottom: 2px solid transparent;
            transition: border-bottom-color 0.2s;
        }

        .link-center a:hover {
            border-bottom-color: #2C3E50;
        }

        /* Style the table */
        .book-table {
            border-collapse: collapse;
            width: 75%;
            margin: 0 auto;
            /* center the table */
            margin-bottom: 20px;
            border-bottom: 2px solid #2C3E50;
        }

        th,
        td {
            text-align: left;
            padding: 16px;
        }
    </style>
</head>
<body>
    <h1>Update Customer</h1>
    <form method="post" action="/customers/update/<%= customer.customer_id %>">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="<%= customer.username %>">
        <br>
        <label for="firstName">Firstname:</label>
        <input type="text" id="firstName" name="firstName" value="<%= customer.firstName %>">
        <br>
        <label for="lastName">Lastname:</label>
        <input type="text" id="lastName" name="lastName" value="<%= customer.lastName %>">
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="<%= customer.email %>">
        <br>
        <label for="phoneNumber">Phonenumber:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" value="<%= customer.phoneNumber %>">
        <br>
        <input type="submit" value="Update">
    </form>
    <a href="/customer/<%= customer.customer_id%>">View</a>
    <a href="/customers/delete/<%= customer.customer_id%>">Delete</a>
    <a href="/customers/">Back to List</a>
</body>
</html>