<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats</title>
    <link rel="stylesheet" href="/FrontServer/css/navbar.css"/>
    <style>

    body {
    background-color: #f8e0ab;
    margin: 0;
    padding: 0;
    }
        /* Navbar Container */
.navbar {
    overflow: hidden;
    background-color: rgb(243, 156, 74);
  }

  /* Navbar Links */
  .navbar a {
    float: left;
    display: block;
    color: #0e0c0cd3;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold; /* เพิ่ม bold */
    font-size: 20px; /* เพิ่มขนาด */
  }

  /* Navbar Links on Hover */
  .navbar a:hover {
    background-color: #ddd;
    color: rgb(243, 156, 74);
  }

  /* Clear floats */
  .navbar::after {
    content: "";
    clear: both;
    display: table;
  }

  .bar {
        background-color: #ddd;
        height: 20px; /* กำหนดความสูงของแท่ง */
        margin-top: 5px; /* ระยะห่างด้านบน */
    }
    </style>
    <script>
        window.onload = function() {
            var cats = document.querySelectorAll('.cat-age');
            cats.forEach(function(cat) {
                var age = parseInt(cat.innerText);
                if (age >= 12) {
                    var years = Math.floor(age / 12);
                    var months = age % 12;
                    if (months === 0) {
                        cat.innerText = years + " years";
                    } else {
                        cat.innerText = years + " years " + months + " months";
                    }
                } else {
                    cat.innerText = age + " months";
                }
            });
        }
    </script>
</head>
<body>
    <div class="navbar">
        <a href="/cats">Cats</a>
        <a href="/customers">Customers</a>
        <a href="/orders">Orders</a>
        <a href="/orderdetails">Orderdetails</a>
      </div>
    <h1>Cats</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Breed</th>
            <th>Age</th>
            <th>Color</th>
            <th>Price</th>
            <th>Availability</th>
        </tr>
        <% for (var i = 0; i < cats.length; i++) {%>
        <tr>
            <td><%= cats[i].name %></td>
            <td><%= cats[i].breed %></td>
            <td class="cat-age"><%= cats[i].age %></td>
            <td><%= cats[i].color %></td>
            <td><%= cats[i].price %></td>
            <td><%= cats[i].availability %></td>
            <td>
                <a href="/cat/<%= cats[i].cat_id %>">View</a>
                <a href="/cats/update/<%= cats[i].cat_id %>">Edit</a>
                <a href="/cats/delete/<%= cats[i].cat_id %>">Delete</a>
            </td>
        </tr>
        <% } %>
    </table>
    <a href="/cats/create">Add New Cat</a>
</body>
</html>