<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrderDetails</title>
    <!-- <link rel="stylesheet" href="../css/style.css"/> -->
    <style>

        body {
        background-color: #f8e0ab;
        margin: 0;
        padding: 0;
        }
            /* Navbar Container */
    .navbar {
        overflow: hidden;
        background-color: rgb(243, 156, 74);
      }
    
      /* Navbar Links */
      .navbar a {
        float: left;
        display: block;
        color: #0e0c0cd3;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        font-weight: bold; /* เพิ่ม bold */
        font-size: 20px; /* เพิ่มขนาด */
      }
    
      /* Navbar Links on Hover */
      .navbar a:hover {
        background-color: #ddd;
        color: rgb(243, 156, 74);
      }
    
      /* Clear floats */
      .navbar::after {
        content: "";
        clear: both;
        display: table;
      }
    
      .bar {
            background-color: #ddd;
            height: 20px; /* กำหนดความสูงของแท่ง */
            margin-top: 5px; /* ระยะห่างด้านบน */
        }
        </style>
</head>
<body>
    <div class="navbar">
        <a href="/cats">Cats</a>
        <a href="/customers">Customers</a>
        <a href="/orders">Orders</a>
        <a href="/orderdetails">Orderdetails</a>
      </div>
    <h1>OrderDetails</h1>
    <table>
        <tr>
            <th>Order_id</th>
            <th>Cat_id</th>
            <th>Quanity</th>
            <th>unitPrice</th>

        </tr>
        <% for (var i = 0; i < orderDetails.length; i++) {%>
        <tr>
            <td><%= orderDetails[i].order_id %></td>
            <td><%= orderDetails[i].cat_id %></td>
            <td><%= orderDetails[i].quantity %></td>
            <td><%= orderDetails[i].unitPrice %></td>

            <td>
                <a href="/orderDetail/<%= orderDetails[i].detail_id %>">View</a>
                <a href="/orderdetails/update/<%= orderDetails[i].detail_id %>">Edit</a>
                <a href="/orderdetails/delete/<%= orderDetails[i].detail_id %>">Delete</a>
            </td>
        </tr>
        <% } %>
    </table>
    <a href="/orderdetails/create">Create Order Details</a>
</body>
</html>