<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update orderDetail</title>
    <!-- <link rel="stylesheet" href="../css/style.css"/> -->
</head>
<body>
    <h1>Update orderDetail</h1>
    <form method="post" action="/orderdetails/update/<%= orderDetail.detail_id %>">
        <label for="order_id">Order ID:</label>
        <input type="text" id="order_id" name="order_id" value="<%= orderDetail.order_id %>">
        <br>
        <label for="cat_id">Cat id:</label>
        <input type="text" id="cat_id" name="cat_id" value="<%= orderDetail.cat_id %>">
        <br>
        <label for="quantity">Quanity:</label>
        <input type="text" id="quantity" name="quantity" value="<%= orderDetail.quantity %>">
        <br>
        <label for="unitPrice">unitPrice:</label>
        <input type="text" id="unitPrice" name="unitPrice" value="<%= orderDetail.unitPrice %>">
        <br>
        <input type="submit" value="Update">

    </form>
    <a href="/orderdetail/<%= orderDetail.detail_id%>">View</a>
    <a href="/orderdetails/delete/<%= orderDetail.detail_id%>">Delete</a>
    <a href="/orderdetails/">Back to List</a>
</body>
</html>